<div class="linkovi" style="display: flex; justify-content: space-between;">
	<%= link_to 'Prethodni', slide2_path %>
	<%= link_to 'Sljedeci', slide4_path %>
</div>


<div style="display: flex; margin: 50px;">
	<ul>
		<h2 style="font-weight: bold; font-size: 40px;">HTML</h2>
		<li style="font-size: 30px;"> Kratica za HyperText Markup Language</li>
		<li style="font-size: 30px;"> Hipertekst dokument stvara se pomoću HTML jezika</li>
		<li style="font-size: 30px;"> Svoju raširenost zahvaljuje jednostavnosti i tome što je od početka bio zamišljen kao besplatan i tako dostupan svima</li>
		<li style="font-size: 30px;"> Temeljna zadaća HTML jezika jest uputiti web preglednik kako prikazati hipertext dokument.</li>
		<li style="font-size: 30px;"> Osnovni građevni element svake stranice su znakovi (tags) koji opisuju kako će se nešto prikazati u web pregledniku</li>
		
	</ul>
</div>

<div>
	<h2 style="font-weight: bold; font-size: 40px;">Povijest</h2>
	<ul>
		<li style="font-size: 30px;"> Prvi javno dostupan opis HTML-a je dokument zvan HTML tags (oznake), prvi put se spominje na internetu od strane Tim Berners-Leeja krajem 1991. </li>
		<li style="font-size: 30px;"> Prva verzija HTML jezika objavljena je 1993. godine. U to je vrijeme bio još poprilično ograničen, pa nije bilo moguće čak ni dodati slike u HTML dokumente</li>
		<li style="font-size: 30px;"></li>
		<li></li style="font-size: 30px;">
		<li style="font-size: 30px;"></li>
		<li style="font-size: 30px;"> </li>
	</ul>
</div>