<div class="linkovi" style="display: flex; justify-content: space-between;">
    <%= link_to 'Prethodni', slide9_path %>
    <%= link_to 'Sljedeci', slide11_path %>
</div>


<title>Test 3 for <video> element</title>
</head>
<body>

<div class="" style="display: flex; flex-direction: row; justify-content: space-around; align-items: center; margin: 50px auto;">
	<div class="" style="margin: 100px;">
		
	</div>
	<div class="">
		<h1>Napreduje prezentacija, napredujemo mi....</h1>
		<%= video_tag("video.mp4", :controls => true, :class => 'slide-video') %>
	</div>
</div>
</body>
</html>