

   <!-- Page Content -->
            <div class="container">
                <div class="col-lg-12">
                    <h1 class="page-header">O kolegiju</h1>
                </div>

                <div class="col-lg-12 thumb">
                    <p>&nbsp;</p>
                    <p class="podnaslov"><strong>Elementi ocjenjivanja:</strong></p>
                    <p class="podnaslov">&nbsp;&nbsp;&nbsp;1.&nbsp;&nbsp;&nbsp;Prvi kolokvij: 20 bodova</p>
                    <p class="numberedlist">&nbsp;&nbsp;&nbsp;2.&nbsp;&nbsp;&nbsp;Drugi kolokvij: 20 bodova</p>
                    <p class="numberedlist">&nbsp;&nbsp;&nbsp;3.&nbsp;&nbsp;&nbsp;Projektni zadatak 30 bodova</p>
                    <p class="numberedlist">&nbsp;&nbsp;&nbsp;4.&nbsp;&nbsp;&nbsp;Aktivno sudjelovanje na predavanjima: 1 bod</p>
                    <p class="numberedlist">&nbsp;&nbsp;&nbsp;5.&nbsp;&nbsp;&nbsp;Aktivno sudjelovanje na vježbama: 1 bod</p>
                    <p class="numberedlist">&nbsp;&nbsp;&nbsp;6.&nbsp;&nbsp;&nbsp;Usmeni ispit: 28 bodova</p>
                    <p class="podnaslov"><strong>Kolokviji</strong></p>
                    <blockquote dir="ltr"><p class="list">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;Tijekom semestra pišu se dva kolokvija. Kolokviji se pišu u multimedijalnoj učionici. Najveći mogući broj bodova na svakom od kolokvija je 20.</p>
                    </blockquote>
                    <p class="podnaslov"><strong>Projektni zadatak</strong></p>
                    <blockquote dir="ltr"><p class="list">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;Tijekom semestra zadaje se projektni zadatak čije rješenje studenti moraju predati do završetka semestra. Projektni zadatak nosi 30 bodova</p>
                    </blockquote>
                    <p class="podnaslov"><strong>Aktivnost na nastavi</strong></p>
                    <blockquote dir="ltr"><p class="list">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;Aktivnost na nastavi se prati na vježbama u multimedijalnoj učionici i na temelju napredovanja u izradi projektnog zadatka. Za aktivnost na nastavi studenti dobivaju 1 bod</p>
                    <p class="list">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;Redovito polaženje nastave obavezno je za sve studente. Studenti koji iz nekog razloga nisu u mogućnosti redovito pohađati nastavu, dužni su o tome pravodobno obavijestiti voditelja godine, uz čiju preporuku će na njih biti primijenjen drukčiji sustav bodovanja. Naknadne isprike (po završetku semestra) neće se uvažiti, odnosno u tom slučaju, molbu za primjenu drukčijeg sustava bodovanja potrebno je uputiti prodekanu za nastavu. Za redovito pohađanje nastave studenti dobivaju 1 bod</p>
                    </blockquote>
                    <p class="podnaslov"><strong>Popravni ispit</strong></p>
                    <blockquote dir="ltr"><p class="list">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;Popravni ispit sastoji se u ponavljanju jednog od kolokvija.</p>
                    <p class="list">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;Pravo na polaganje popravnog ispita imaju studenti koji su ostvarili minimalni broj bodova iz svih elemenata ocjenjivanja, osim iz jednog od kolokvija. Pravo na polaganje popravnog ispita imaju također i studenti koji su ostvarili minimalni broj bodova iz svih elemenata ocjenjivanja, a u zbroju nemaju dovoljan broj bodova za prolaznu ocjenu.</p>
                    </blockquote>
                    <p class="podnaslov"><strong>Zaključivanje ocjene</strong></p>
                    <blockquote dir="ltr"><p class="list">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;Pravo na ocjenu iz kolegija imaju studenti koji ostvare sljedeće minimalne uvjete:</p>
                    <p>Prvi kolokvij - minimalno 7 bodova</p>
                    <p>Drugi kolokvij - minimalno 7 bodova</p>
                    <p>Projektni zadatak – minimalno 10 bodova</p>
                    <p>Aktivno sudjelovanje na vježbama – 1 bod</p>
                    <p>Redovito pohađanje predavanja – 1 bod</p>
                    <p>Usmeni ispit. Na usmenom ispitu je moguće ostvariti maksimalno 28 bodova. Potrebno je ostvariti minimalno 7 bodova iz usmenog ispita.</p>
                    <p class="list">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;Broj bodova potreban za pojedinu ocjenu:</p>
                    <p>90-100&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;odličan (5)</p>
                    <p>75-89&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; vrlo dobar (4)</p>
                    <p>60-74&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; dobar (3)</p>
                    <p>45-59&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; dovoljan (2)</p>
                    </blockquote>
                </div>
            </div>